#include "resource.h"
#include "windows.h"

IDI_NOTIFICATIONICON ICON "resources/app_icon.ico"
IDI_NOTIFICATIONICON_CONNECTED ICON "resources/app_icon_connected.ico"
IDC_NOTIFICATIONICON ICON "resources/app_icon.ico"

STRINGTABLE
	BEGIN
		IDS_APP_TITLE       "sACNtoEnttecPro"
		TOOLTIP_CONNECTED	"sACNtoEnttecPro (connected)"
		TOOLTIP_DISCONNECTED	"sACNtoEnttecPro (disconnected)"
END

IDC_CONTEXTMENU MENU
	BEGIN
		POPUP ""
		BEGIN
		MENUITEM "E&xit", IDM_EXIT
	END
END

